// COLORS
$primaryColor : #18181b;
$secondaryColor: #2dc5b2;
$primaryTextColor: #f4f4f5;
$secondaryTextColor : #8d8d96;



// BREAKPOINTS

$mobileBreakpoints : 489px;
$tableBreakpoints : 720px;
$desktopBreakpoints : 82rem;
$headingFontSize : 48px;
$spaceY : 4rem auto;


